#gallery{
    margin: 2% 2%;
}
.carousel-inner .carousel-item img{
    height: 400px;

} 
.carousel-indicators img{
    height: 40px;
}
#gallery{
    
}
#darking{
    filter: opacity(70%);
    filter: contrast(50%);
}
#darking:hover{
    filter: opacity(100%);
    
}