#gallery{
    margin: 2% 2%;
}
.carousel-inner .carousel-item img{
    height: 400px;

} 
.carousel-indicators img{
    height: 40px;
}
.carousel-indicators li {
    border: 2px solid rgba(86, 230, 235, 0.815);
    height: 50px;
    opacity: 0.6;
    width: 100px;
  }
  .carousel-indicators li:hover {
    border: 5px solid rgba(230, 11, 200, 0.815);
    height: 70px;
    opacity: 1;
    width: 200px;
  }
  